flask==2.3.2
gunicorn==20.1.0
keras==2.12.0  # Standalone Keras (no TF dependency)
--prefer-binary scikit-learn==1.3.2 
numpy==1.24.3
joblib==1.2.0
protobuf==3.20.3
gevent==22.10.2
h5py==3.8.0    # Required for Keras model loading